.DS_Store
bin/*.app
build
emptyExample.xcodeproj/*
watercolorwalls.xcodeproj/project.xcworkspace/xcuserdata/*
watercolorwalls.xcodeproj/xcuserdata/*
watercolorwalls.xcodeproj/xcshareddata/xcschemes/*
watercolorwalls.xcodeproj/xcshareddata/xcschemes/*xcscheme
obj/*
bin/*exe
*~
bin/*exp
bin/*lib
bin/*pdb
bin/*ilk
*opensdf
watercolorWalls.sdf
watercolorWalls.v11.suo
WatercolorWalls.sdf
WatercolorWalls.v11.suo
*humbs.db
bin/data/photobooth/*png
watercolorwalls.xcodeproj/project.xcworkspace/xcshareddata/
.vs/*
bin/*
*.sdf
